/* CSS declarations go here */
body {
    font-family: 'Montserrat', sans-serif;
}

.details {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid;
    width: 400px;
    margin-top:30px;
}

.destination {
    color: #94ADE3;
}
