/* CSS declarations go here */
body {
    font-family: 'Montserrat', sans-serif;
}

.details {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px #bcbcbc solid;
    width: 400px;
    margin-top:30px;
    border-radius: 10px;
    background: #f2f2f2;
}

.destination {
    color: #94ADE3;
}
